version: "3.9"

services:
# # ? MariaDB database service
  mariadb:
    container_name: mariadb
    build: requirements/mariadb
    env_file:
      - .env
    restart: on-failure
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception

# # ? Wordpress website service
  wordpress:
    container_name: wordpress
    build: requirements/wordpress
    env_file:
      - .env
    restart: on-failure
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - mariadb
    networks:
      - inception

# ? Nginx server service
  nginx:
    container_name: nginx
    build: requirements/nginx
    restart: on-failure
    ports:
      - "443:443"
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - wordpress
    networks:
      - inception



# # ? Volumes for persistent data
volumes:
  wp_data:
    driver: local
    driver_opts:
      type: none
      device: /home/danfern3/data/web
      o: bind
  db_data:
    driver: local
    driver_opts:
      type: none
      device: /home/danfern3/data/mariadb
      o: bind

# # ? Private network for inter-service communication
networks:
  inception:
    driver: bridge