
# Example env

# Domain name
DOMAIN_NAME=danfern3.42.fr

# Database config
MARIADB_DATABASE=wordpress
MARIADB_USER=wpuser
MARIADB_PASSWORD=wp_password
MARIADB_ROOT_PASSWORD=root_password

# Wordpress config
WORDPRESS_ADMIN_USER=danfern3
WORDPRESS_ADMIN_PASSWORD=superInception
WORDPRESS_USER=evaluator
WORDPRESS_PASSWORD=superEvaluator
WORDPRESS_DOMAIN=danfern3.42.fr
WORDPRESS_URL=danfern3.42.fr
WORDPRESS_TITLE=Example Site
