
# Example env

# Domain name
DOMAIN_NAME=example_domain

# Database config
MARIADB_DATABASE=example_db
MARIADB_USER=example_user
MARIADB_PASSWORD=example_password
MARIADB_ROOT_PASSWORD=example_root_password

# Wordpress config
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=admin_password
WORDPRESS_USER=example_user
WORDPRESS_PASSWORD=example_password
WORDPRESS_DOMAIN=example_domain
WORDPRESS_URL=http://example_domain
WORDPRESS_TITLE=Example Site